<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" href="../css/loginStyle.css">
	<title>Logging formation</title>
</head>
<body>
	<h1>IT Academy</h1>
    <h3>Commencer par vous connecter</h3>
    <h2>Entrer votre pseudo</h2>
    
    <form action="/cart/login" method="post">
        <input type="text" name="user" autofocus required>
        <button type="submit">Enregistrer</button>
    </form>
</body>
</html>